@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

html,
body {
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  overflow: hidden;
}

h1 {
  font-size: 5rem;
  color: #f1f1f1;
  position: relative;
  transform: skew(var(--skew)) scale(var(--scale));
}

h1:before,
h1:after {
  content: attr(data-text);
  width: 100%;
  position: absolute;
  transform: clip-path 50ms ease-in;
  background-color: #1a1a1a;
}

h1:before {
  left: 5px;
  text-shadow: 2px -2px #2a96d4;
  clip-path: polygon(
    0 var(--beforeTop),
    100% var(--beforeTop),
    100% var(--beforeBottom),
    0 var(--beforeBottom)
  );
}

h1:after {
  left: -5px;
  text-shadow: -2px 2px #cc2a1f;
  clip-path: polygon(
    0 var(--afterTop),
    100% var(--afterTop),
    100% var(--afterBottom),
    0 var(--afterBottom)
  );
}
